$color-lightgrey: #E5E5E5
$color-dark: #262D33
$text-color: #4B5157
$color-light: #FFFFFF
$button-primary-color: #4592FF
$badge: #3DC47E

$tabs-colors: (nth-of-type(1): #3BBDC4, nth-of-type(2): #6E99AE, nth-of-type(3): #AC8EE3,  nth-of-type(4): #FFA34D, nth-of-type(5): #3DC47E)
