@media (min-width: 992px)
  .button
    &:hover
      background-color: lighten($button-primary-color, 10%)
  .logo
    &__title
      transition: 0.5s
      &:hover
        color: $button-primary-color
    &__image
      transition: 0.5s
      &:hover
        filter: grayscale(100%)
  .navbar
    &__link
      transition: 0.2s
      &:hover
        color: $button-primary-color
  .recommend
    &__tab
      &:hover
        background-color: #E5E5E5
  .useful
    &__link
      transition: 0.3s
      &:hover
        color: $button-primary-color
  .popular
    &__js, &__free, &__reference,  &__clients,  &__stress
      &:hover
        background-color: #C1F4F5
  .dream
    &:hover
      & .popular__title
        color: rgb(202, 61, 68)
  .portfolio
    &:hover
      filter: grayscale(50%)
  .download
    &__button
      transition: 0.2s
      &:hover
        background-color: #44d1d8
  .social
    &__button
      transition: 0.3s
      &:hover
        filter: grayscale(100%)
      &--ig
        &:hover
          filter: brightness(300%)
  .tags
    &__item
      transition: 0.3s
      &:hover
        background-color: rgba(61,196,126,0.3)
  .main-news
    &__item
      &:hover
        & .main-news__title
          color: $button-primary-color
    &__bookmark
      &:hover
        & ~ .main-news__title
          color: $color-dark

  .recent
    &__button
      transition: 0.3s
      &:hover
        background-color: #3BBDC4
        color: $color-light
    &__item
      &:hover
        & .recent__title
          color: $button-primary-color

  .articles
    &__item
      &--small
        &:hover
          background-color: #D1E2EB
    &__main-title
      transition: 0.3s
      &:hover
        color: #D1E2EB
    &__title
      transition: 0.3s
      &:hover
        color: $color-light
  .footer
    &__logo
      &:hover
        filter:
  .footer-menu
    &__list
      &--red
        & .footer-menu__link
          &:hover
            color: #FF4F52
      &--violet
        & .footer-menu__link
          &:hover
            color: #AC8EE3
      &--blue
        & .footer-menu__link
          &:hover
            color: #4592FF
      &--orange
        & .footer-menu__link
          &:hover
            color: #FFA34D
      &--green
        & .footer-menu__link
          &:hover
            color: #3DC47E
      &--grey
        & .footer-menu__link
          &:hover
            color: #6E99AE
  .footer-contacts
    &__link
      &:hover
        color: #4592FF
